<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/assets/loadouts/companions/tooltip_akalidragon_beatmaker_tier1.png" alt="cat">
    <ul>
        <% for(i=0; i<data.length; i++) { %>
            <li>
                <%= data[i].cont %>
            </li>
        <% } %>
        </ul>

</body>
</html>